.splitter#splitter
    .splitter-profile
        .splitter-media
        .splitter-name Nguyễn Văn Thực
    ul.splitter-menu
        li
            a(href="#")
                img(src="assets/img/icons/24x24/setting.svg", alt="", width='24px', height='24px')
                | Setting
        li
            a(href="#")
                img(src="assets/img/icons/24x24/user-group2.svg", alt="", width='24px', height='24px')
                | About Us