header.header
  .container
      a.header-menu(href="#")
        img(src="assets/img/icons/24x24/menu.svg", alt="", width='24px', height='24px')
      a.header-home(href="#")
        img(src="assets/img/icons/24x24/home.svg", alt="", width='24px', height='24px')
    