// =====================================================================================================================
// ! Layout common
// =====================================================================================================================

.wrapper {
  overflow: hidden;
}

.overlay {
  @include coverer;
  visibility: hidden;
  opacity: 0;
  background: rgba($color-black, .5);
  transition: opacity .5;
  z-index: 90;

  .is-show &{
    visibility: visible;
    opacity: 1;
  }
}

.page-bg-white{
  background: $color-white;
}

.is-loading{
  &:before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(#8EDFA9, 0.8);
    background-image: url('../img/spinner-loading.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 100;
    position: absolute;
  }
}