.page-wellcome {
    &::after {
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 70%;
       @include bg-grardient-2; 
       z-index: -1;
    }
}

.wellcome-page{
    margin: 0 -15px;
    min-height: 100vh;
    padding-top: 10px;
    text-align: center;
    .wellcome-title{
        font-size: $base-h2-font-size;
        font-family: $font-lato-black;
        text-transform: capitalize;
        color: $color-white;
        margin: 0 0 5px;
    }
    .wellcome-desc{
        color: $color-white;
        margin: 20px 0 0;
    }
}
.wellcome-logo > img{
    border-radius: 50%;
    border: 2px solid $color-white;
}
.wellcome-logo{
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}
.wellcom-star img{
    position: absolute;
    top: 45px;
    left: -25px;
}


.zoomIn {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
                transform: scale(2) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
       
    }
}
@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
                transform: scale(2) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
       
    }
}
  

.wellcome-content{
    padding: 0 10px;
    position: relative;
    margin-bottom: 45px;
}
.wellcome-container {
    @include box-shadow(0 0 10px rgba($color-black, .1));
    margin-top: 20px;

    .wellcome-content {
        background: $color-white;
        border-radius: 5px;
        padding: 10px 8px; 
        margin: 0;
        list-style: none;
        .info-content{
            text-align: left;
            padding: 8px 25px;
            &:not(:last-child){
                border-bottom: 1px solid $color-five;
            }       
            .info-title{
                font-family: $font-lato-bold;
                color: $color-six;
            } 
            .info-desc{
                font-size: $base-h4-font-size;
                font-family: $font-lato-black;
            }
        }
    }
}

.wellcome-share{
    background:#f9f9f9;
    border-radius: 200px ;
    background: #475993;
    color: $color-white;
    align-items: center;
    font-size: $base-h5-font-size;
    padding: 15px 45px; 
    text-transform: uppercase;
    &:hover{
        text-decoration: none;
        color: $color-white;
    }

    span {
        margin-left: 10px;
    }
 }

